<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="passwordDemo" value="primalac"/>
      <add key="passwordProd" value="primalac"/>
      <add key="usernameDemo" value="1307"/>
      <add key="usernameProd" value="13624"/>
      <add key="softwareIdHR" value="Test-001"/>
      <add key="softwareIdEU" value="Test-002"/>
      <add key="mailSender" value="milos.nenadovic@moj-eracun.rs"/>
      <add key="mailRecipient" value="milos.nenadovic@moj-eracun.rs"/>
      <add key="senderPIB" value="2288669977"/>
      <add key="recipientPIB" value="333666999"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>